<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Optic - Shop</title>
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <section id="header">
            <a href="#"><img src="/img/optic logo/op0.png" class="logo" alt="logo"></a>

            <div>
                <ul id="navbar">
                    <li><a href="index.html">Home</a></li>
                    <li><a class="active" href="shop.html">Shop</a></li>
                    <li><a href="chatbot.html">Chatbot</a></li>
                    <!-- <li><a href="faq.html">FAQ</a></li>
                    <li><a href="contact.html">Contact</a></li> -->
                    <li><a href="cart.html"><ion-icon name="cart-sharp" size="large" class="icart"></ion-icon></a></li>
                    <a href="#" id="close"><ion-icon name="close"></ion-icon></a>
                </ul>
            </div>
            <div id="mobile">
              <ion-icon name="menu" class="menulogo" id="bar"></ion-icon>
            </div>
        </section>

        <section id="page-header">
            
            <h2>Shopping Page</h2>
            
            <p>Explore Our Collection</p>
            
        </section>

        <section id="pagination" class="section-p1">
          <!-- <a href="#">Watches</a>
          <a href="#">Glasses</a>
          <a href="#">Furniture</a>
          <a href="#">Toys</a> -->
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
        </section>

        <section id="product1" class="section-p1">
          <!-- <h2>Featured Products</h2>
          <p>Suggested for you</p> -->
          <div class="pro-container">

            <!-- product 1 -->
            <div class="pro" onclick="window.location.href='sproduct.html';">
              <img src="/img/products/f1.jpg" alt="">
              <div class="des">
                <span>Optic</span>
                <h5>Watch // Variant 1</h5>
                <div class="star">
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star-half" class="ratingstar"></ion-icon>
                </div>
                <h4>$10</h4>
              </div>
              <a href="#"><ion-icon name="add-outline" class="addtocart"></ion-icon></a>
            </div>

            <!-- product 2 -->
            <div class="pro">
              <img src="/img/products/f2.jpg" alt="">
              <div class="des">
                <span>Optic</span>
                <h5>Watch // Variant 2</h5>
                <div class="star">
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star-half" class="ratingstar"></ion-icon>
                </div>
                <h4>$10</h4>
              </div>
              <a href="#"><ion-icon name="add-outline" class="addtocart"></ion-icon></a>
            </div>

            <!-- product 3 -->
            <div class="pro">
              <img src="/img/products/f3.jpg" alt="">
              <div class="des">
                <span>Optic</span>
                <h5>Watch // Variant 3</h5>
                <div class="star">
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star-half" class="ratingstar"></ion-icon>
                </div>
                <h4>$10</h4>
              </div>
              <a href="#"><ion-icon name="add-outline" class="addtocart"></ion-icon></a>
            </div>

            <!-- product 4 -->
            <div class="pro">
              <img src="/img/products/f4.jpg" alt="">
              <div class="des">
                <span>Optic</span>
                <h5>Watch // Variant 4</h5>
                <div class="star">
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star-half" class="ratingstar"></ion-icon>
                </div>
                <h4>$10</h4>
              </div>
              <a href="#"><ion-icon name="add-outline" class="addtocart"></ion-icon></a>
            </div>

            <!-- product 5 -->
            <div class="pro">
              <img src="/img/products/f5.jpg" alt="">
              <div class="des">
                <span>Optic</span>
                <h5>Watch // Variant 5</h5>
                <div class="star">
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star-half" class="ratingstar"></ion-icon>
                </div>
                <h4>$10</h4>
              </div>
              <a href="#"><ion-icon name="add-outline" class="addtocart"></ion-icon></a>
            </div>

            <!-- product 6 -->
            <div class="pro">
              <img src="/img/products/f6.jpg" alt="">
              <div class="des">
                <span>Optic</span>
                <h5>Watch // Variant 6</h5>
                <div class="star">
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star-half" class="ratingstar"></ion-icon>
                </div>
                <h4>$10</h4>
              </div>
              <a href="#"><ion-icon name="add-outline" class="addtocart"></ion-icon></a>
            </div>

            <!-- product 7 -->
            <div class="pro">
              <img src="/img/products/f7.jpg" alt="">
              <div class="des">
                <span>Optic</span>
                <h5>Watch // Variant 7</h5>
                <div class="star">
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star-half" class="ratingstar"></ion-icon>
                </div>
                <h4>$10</h4>
              </div>
              <a href="#"><ion-icon name="add-outline" class="addtocart"></ion-icon></a>
            </div>

            <!-- product 8 -->
            <div class="pro">
              <img src="/img/products/f8.jpg" alt="">
              <div class="des">
                <span>Optic</span>
                <h5>Watch // Variant 8</h5>
                <div class="star">
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star-half" class="ratingstar"></ion-icon>
                </div>
                <h4>$10</h4>
              </div>
              <a href="#"><ion-icon name="add-outline" class="addtocart"></ion-icon></a>
            </div>

            <!-- product 9 -->
            <div class="pro">
              <img src="/img/products/n1.jpg" alt="">
              <div class="des">
                <span>Optic</span>
                <h5>Watch // Variant 9</h5>
                <div class="star">
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star-half" class="ratingstar"></ion-icon>
                </div>
                <h4>$10</h4>
              </div>
              <a href="#"><ion-icon name="add-outline" class="addtocart"></ion-icon></a>
            </div>

            <!-- product 10 -->
            <div class="pro">
              <img src="/img/products/n2.jpg" alt="">
              <div class="des">
                <span>Optic</span>
                <h5>Watch // Variant 10</h5>
                <div class="star">
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star-half" class="ratingstar"></ion-icon>
                </div>
                <h4>$10</h4>
              </div>
              <a href="#"><ion-icon name="add-outline" class="addtocart"></ion-icon></a>
            </div>

            <!-- product 11 -->
            <div class="pro">
              <img src="/img/products/n3.jpg" alt="">
              <div class="des">
                <span>Optic</span>
                <h5>Watch // Variant 11</h5>
                <div class="star">
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star-half" class="ratingstar"></ion-icon>
                </div>
                <h4>$10</h4>
              </div>
              <a href="#"><ion-icon name="add-outline" class="addtocart"></ion-icon></a>
            </div>

            <!-- product 12 -->
            <div class="pro">
              <img src="/img/products/n4.jpg" alt="">
              <div class="des">
                <span>Optic</span>
                <h5>Watch // Variant 12</h5>
                <div class="star">
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star-half" class="ratingstar"></ion-icon>
                </div>
                <h4>$10</h4>
              </div>
              <a href="#"><ion-icon name="add-outline" class="addtocart"></ion-icon></a>
            </div>

            <!-- product 13 -->
            <div class="pro">
              <img src="/img/products/n5.jpg" alt="">
              <div class="des">
                <span>Optic</span>
                <h5>Watch // Variant 13</h5>
                <div class="star">
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star-half" class="ratingstar"></ion-icon>
                </div>
                <h4>$10</h4>
              </div>
              <a href="#"><ion-icon name="add-outline" class="addtocart"></ion-icon></a>
            </div>

            <!-- product 14 -->
            <div class="pro">
              <img src="/img/products/n6.jpg" alt="">
              <div class="des">
                <span>Optic</span>
                <h5>Watch // Variant 14</h5>
                <div class="star">
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star-half" class="ratingstar"></ion-icon>
                </div>
                <h4>$10</h4>
              </div>
              <a href="#"><ion-icon name="add-outline" class="addtocart"></ion-icon></a>
            </div>

            <!-- product 15 -->
            <div class="pro">
              <img src="/img/products/n7.jpg" alt="">
              <div class="des">
                <span>Optic</span>
                <h5>Watch // Variant 15</h5>
                <div class="star">
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star-half" class="ratingstar"></ion-icon>
                </div>
                <h4>$10</h4>
              </div>
              <a href="#"><ion-icon name="add-outline" class="addtocart"></ion-icon></a>
            </div>

            <!-- product 16 -->
            <div class="pro">
              <img src="/img/products/n8.jpg" alt="">
              <div class="des">
                <span>Optic</span>
                <h5>Watch // Variant 16</h5>
                <div class="star">
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star-half" class="ratingstar"></ion-icon>
                </div>
                <h4>$10</h4>
              </div>
              <a href="#"><ion-icon name="add-outline" class="addtocart"></ion-icon></a>
            </div>

          </div>
        </section>
        
        <footer class="footer-distributed">
            <div class="footer-left">
              <p class="flheader">Optic</p>
      
              <p class="footer-links">Prototype Phase - I</p>
      
              <p class="footer-company-name">2023</p>
      
            </div>
      
            <div class="footer-center">
              <div>
                <p><span>Developed by :</span><br />Kunal S<br>Sahil Jain<br>Shyam Prasad M</p>
              </div>
            </div>
      
            <div class="footer-right">
              <p class="footer-company-about">
                <span>Our Socials</span>
                Here are our socials.
              </p>
      
              <div class="footer-icons">
                <a href="" class="icon1"><ion-icon name="logo-google" class="icon2"></ion-icon></a>
                &nbsp;&nbsp;&nbsp;
                <a href="" class="icon1"><ion-icon name="logo-github"class="icon2"></ion-icon></a>
                &nbsp;&nbsp;&nbsp;
                <a href="" class="icon1"><ion-icon name="logo-linkedin" class="icon2"></ion-icon></a>
              </div>
            </div>
        </footer>

        <script src="/js/script.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>

</html>